<!-- just do the same thing on every other web page, with the according models -->

<div class="screen">
<div class="loader">
   <div class="loader__bar"></div>
   <div class="loader__bar"></div>
   <div class="loader__bar"></div>
   <div class="loader__bar"></div>
   <div class="loader__bar"></div>
   <div class="loader__ball"></div>
   <span class="loading">loading...</span>

 </div>
</div>

<div class="contain">
  <canvas id="romanCanvas"></canvas>
  <canvas id="guanyinCanvas"></canvas>
  <canvas id="caesarCanvas"></canvas>
  <canvas id="tyrionCanvas"></canvas>
</div>

<div class="main">


<div class="outer">
  <div class="middle">
    <div class="inner">
   this is inner


    </div>
  </div>
</div>









  <button class="arrow left zeroL">
  <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
    <polyline fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
	45.63,75.8 0.375,38.087 45.63,0.375 "/>
  </svg>
</button>
<button class="arrow right zeroR">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
    <polyline fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
	0.375,0.375 45.63,38.087 0.375,75.8 "/>
  </svg>
</button>





<div class="uppertop">

  PICTURED ABOVE: A Roman man, thought have been member of the Licinian family from the 2nd century
A.D. have been member of the Licinian family from the 2nd century A.D.
<div class="uppertoptext">
Beginning with the founding of the Italian city of Rome in the 8th century BC to the
collapse of the Western Roman Empire in the 5th century AD, encompassing
the Roman Kingdom (753 BC–509 BC), Roman Republic (509 BC–27 BC) and Roman Empire (27 BC–476 AD) until the fall of the western empire
Beginning in the eighth century B.C., Ancient Rome grew from a small town
on central Italy’s Tiber River into an empire that at its peak
encompassed most of continental
Europe, Britain, much of western Asia, northern Africa and the Mediterranean islands
</div>
<div class="upperTopPic1">
   <img src="<%= image_url("fountain.jpg")%>">
</div>
<div class="upperTopPic2">
  <img src="<%= image_url("helmet.jpg")%>">
</div>
</div>



<div class="upperBig">
  <span class="upperBigText">
 The Romans built a huge empire and conquered new lands with their army, which could march up to 40km a day!
    </span>

</div>



<div class="uppermid">


  <div class="uppertext">
  Rome was founded in 753BC by its first king, Romulus. It grew into a rich and powerful city during the next few hundred years. Roman legend
  says that Romulus had a twin brother called Remus. As babies they were abandoned in the area which later became Rome. A she-wolf
  found and raised them, but when they grew up, Romulus fought and  killed Remus and became the first ruler of Rome!
 <br/>
 <br/>

  The Romans believed in gods and goddesses who ruled over different areas of life. For example, Neptune was the god of the ocean, and they prayed to him to protect them at sea. Temples were built to honour the gods, and people would visit them with offerings.
  The Roman Empire expanded to become one of the largest empires in the ancient world, though still ruled from the city, with an estimated 50 to 90 million inhabitants (roughly 20% of the world's population at the time)
  </div>
  <div class="ucfirst">
  </div>
  <div class="uppercontent">

 </div>
</div>



<div class="lowermid">
  <div class="lowercontent">
    <img class="romanGraphic" src="<%= image_url("coin.png")%>">

  </div>
  <span class="textlow">
    The current population of the city of Rome is around 2.7 million.
    </span>
 <div class="lowerlink">
 <a href="#" class="nextbtn">next<i class="fas fa-angle-double-right"></i></a>
 </div>
</div>

</div>
