/* line 5, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
body {
  margin: 0;
  background: #efefbb;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #efefbb, #d4d3dd);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #efefbb, #d4d3dd);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
}

/* line 16, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.vmlogo {
  font-family: "HelveticaNeue";
  font-weight: 500px;
  font-size: 20px;
  position: fixed;
  color: blue;
  z-index: 2;
  top: 3.8%;
}

/* line 25, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.menubtn {
  position: fixed;
  top: 4%;
  left: 9%;
  height: 10px;
  width: 30px;
  padding-top: 10px;
  z-index: 2;
  cursor: pointer;
}

/* line 35, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.dot {
  height: 4px;
  width: 4px;
  background-color: #bbb;
  border-radius: 50%;
}

/* line 41, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.dotwrap {
  position: fixed;
  display: flex;
  height: 4px;
  width: 18px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 51, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.outerShow {
  background-image: linear-gradient(#FCF7F7, #DCDADA);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* line 62, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.myBtn {
  margin: auto;
}

/* line 81, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  /* TODO Solve this in HTML */
}

/* line 97, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
#loading {
  margin: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 400px;
  height: 400px;
  margin-top: 10%;
  background-image: url("https://i.imgur.com/gwQOiTQ.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 119, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
html {
  height: 100%;
}

/* line 128, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.screen {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 47%;
}

/* line 146, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppertoptextshow {
  position: absolute;
  font-size: 20px;
  left: 19%;
  top: 44%;
  width: 28vw;
  height: 57vh;
  text-align: left;
}

/* line 161, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppertopshow {
  width: 100vw;
  height: 140vh;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0%;
}

/* line 170, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperTopPic1show {
  position: absolute;
  left: 55%;
  top: 50%;
  width: 15vw;
  height: 57vh;
  overflow: hidden;
}

/* line 180, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperTopPic1show img {
  width: 25vw;
  height: 57vh;
  left: -30%;
  position: absolute;
}

/* line 187, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperTopPic2show {
  position: absolute;
  left: 70%;
  top: 24%;
  width: 11vw;
  height: 40vh;
  overflow: hidden;
}

/* line 195, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperTopPic2show img {
  width: 11vw;
  height: 40vh;
}

/* line 202, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperBigShow {
  top: 240%;
  height: 90vh;
  width: 100vw;
  position: absolute;
}

/* line 209, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.upperBigShow span {
  width: 70vw;
  height: 20vh;
  line-height: 110%;
  font-size: 5px;
  font-weight: 700;
  color: red;
  float: right;
  position: absolute;
  left: 28%;
  bottom: 30%;
}

/* line 225, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppermidshow {
  width: 100vw;
  height: 160vh;
  text-align: center;
  position: absolute;
  top: 330%;
  left: 0%;
}

/* line 239, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.transitionshow {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0%;
  bottom: 0%;
  clip: rect(0 100vw 100vh 0);
  transition: all .4s ease-in;
}

/* line 253, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.ucsfirst {
  width: 10vw;
  height: 39vh;
  color: white;
  overflow: hidden;
  position: absolute;
  right: 65%;
  top: 20%;
  display: block;
}

/* line 265, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppercontentshow {
  width: 100vw;
  height: 150vh;
  -webkit-transition: clip 0.5s ease-out;
  transition: all 0.5s ease-out;
  position: absolute;
  left: 0%;
  clip: rect(93vh 47vw 131vh 35vw);
  top: -20%;
}

/* line 278, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppermidlastshow {
  width: 100vw;
  height: 100vh;
  font-size: 50px;
  color: white;
  overflow: hidden;
  position: absolute;
  left: 0%;
  clip: rect(0vh 100vw 100vh 0vw);
  top: 34%;
}

/* line 301, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.uppertextshow {
  width: 32vw;
  height: 40vh;
  float: right;
  left: 55%;
  top: 32%;
  text-align: left;
  font-size: 130%;
  position: absolute;
}

/* line 315, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.lowermidshow {
  width: 100vw;
  height: 130vh;
  text-align: center;
  position: absolute;
  top: 490%;
  left: 0%;
}

/* line 325, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.lowercontentshow img {
  filter: blur(7px);
  top: 20%;
  left: 35%;
  position: absolute;
  height: 70vh;
}

/* line 342, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.textlowshow {
  width: 70vw;
  height: 20vh;
  line-height: 110%;
  font-size: 42px;
  font-weight: 700;
  color: white;
  text-align: left;
  position: absolute;
  left: 8%;
  top: 50%;
}

/* line 355, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.lowerlink {
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: red;
}

/* line 371, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
#myBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 47%;
}

/* line 386, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loading {
  padding-left: 0px;
  position: absolute;
  top: 110px;
}

/* line 392, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader {
  right: 0;
}
/* line 400, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 413, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
/* line 413, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
/* line 413, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
/* line 413, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
/* line 413, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
/* line 423, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.loader__ball {
  position: absolute;
  bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* line 575, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

/* line 582, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
svg {
  padding: 5px;
}

/* line 586, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

/* line 596, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.left {
  left: 25%;
}

/* line 600, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.right {
  left: 75%;
}

/* line 604, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.left:hover polyline {
  stroke-width: 3;
}

/* line 608, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

/* line 613, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

/* line 618, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

/* line 623, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
polyline {
  transition: all 250ms ease-in-out;
}

@media screen and (min-width: 1220px) and (max-width: 1500px) {
  /* line 628, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show {
    position: absolute;
    left: 55%;
    top: 50%;
    width: 15vw;
    height: 33vh;
    overflow: hidden;
  }

  /* line 636, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show img {
    width: 15vw;
    height: 33vh;
  }

  /* line 640, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show {
    position: absolute;
    left: 70%;
    top: 30%;
    width: 11vw;
    height: 30vh;
  }

  /* line 649, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show img {
    width: 11vw;
    height: 30vh;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1220px) {
  /* line 655, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show {
    position: absolute;
    left: 55%;
    top: 50%;
    width: 15vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 663, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show img {
    width: 15vw;
    height: 29vh;
  }

  /* line 667, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 11vw;
    height: 22vh;
  }

  /* line 676, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2 img {
    width: 11vw;
    height: 22vh;
  }
}
@media (max-width: 1026px) {
  /* line 684, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .wrapdd {
    height: calc(var(--wrapheight) - var(--wrapval));
    width: 90vw;
    top: 10%;
    background: red;
    overflow: hidden;
  }

  /* line 692, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown-about {
    position: relative;
    top: 3%;
    width: 50vw;
    text-align: center;
  }

  /* line 698, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .ddtext {
    width: 44vw;
    max-width: 600px;
    display: inline-block;
  }

  /* line 704, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown-content {
    position: absolute;
    bottom: 4%;
    left: 0vw;
    width: 50vw;
    text-align: left;
  }

  /* line 714, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown a {
    padding: 25px 16px;
    text-decoration: none;
    font-family: "HelveticaNeue";
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* line 724, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown a:hover, .dropDown a:focus {
    color: red;
    background: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 900px) {
  /* line 732, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertopshow {
    height: 140vh;
  }

  /* line 736, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertoptextshow {
    width: 80vw;
    left: 5%;
    top: 40%;
  }

  /* line 741, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show {
    position: absolute;
    left: 5%;
    top: 60%;
    width: 40vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 749, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show img {
    width: 40vw;
    height: 29vh;
  }

  /* line 753, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show {
    position: absolute;
    left: 53%;
    top: 60%;
    width: 40vw;
    height: 29vh;
  }

  /* line 762, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show img {
    width: 40vw;
    height: 29vh;
  }

  /* line 769, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperBigTextshow {
    width: 93vw;
    height: 20vh;
    line-height: 140%;
    font-size: 25px;
    font-weight: 700;
    color: green;
    float: right;
    position: absolute;
    left: 3%;
    top: 41%;
    bottom: 0;
  }

  /* line 785, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppercontentshow {
    height: 50vh;
    clip: rect(0vh 96vw 100vh 3vw);
    background-size: 100vw 55vh;
    background-position: 0% 99%;
  }

  /* line 792, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppermidlastshow {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 811, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .transitionshow {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 831, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertextshow {
    width: 80vw;
    left: 5%;
    top: 40%;
    width: 94vw;
    height: 40vh;
    left: 3%;
    text-align: left;
    font-size: 130%;
  }

  /* line 846, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .lowercontentshow img {
    filter: blur(7px);
    top: 20%;
    left: 3%;
    width: 90%;
    height: 40%;
    position: absolute;
  }

  /* line 854, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .textlowshow {
    width: 90vw;
    height: 20vh;
    line-height: 140%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: left;
    position: absolute;
    left: 3%;
    top: 30%;
  }
}
@media screen and (min-width: 562px) and (max-width: 730px) {
  /* line 869, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertoptextshow {
    width: 80vw;
    left: 5%;
    top: 40%;
    font-size: 14px;
  }
}
@media screen and (min-width: 200px) and (max-width: 562px) {
  /* line 880, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertopshow {
    height: 140vh;
  }

  /* line 884, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertoptextshow {
    width: 80vw;
    left: 5%;
    top: 40%;
    font-size: 14px;
  }

  /* line 890, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show {
    position: absolute;
    left: 5%;
    top: 80%;
    width: 40vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 898, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic1show img {
    width: 40vw;
    height: 29vh;
  }

  /* line 902, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show {
    position: absolute;
    left: 53%;
    top: 80%;
    width: 40vw;
    height: 29vh;
  }

  /* line 911, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperTopPic2show img {
    width: 40vw;
    height: 29vh;
  }

  /* line 918, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .upperBigshow span {
    width: 93vw;
    height: 20vh;
    line-height: 140%;
    font-size: 5px;
    font-weight: 700;
    color: green;
    float: right;
    position: absolute;
    left: 3%;
    top: 41%;
    bottom: 0;
  }

  /* line 933, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppercontentshow {
    height: 50vh;
    clip: rect(0vh 96vw 100vh 3vw);
    background-size: 100vw 55vh;
    background-position: 0% 99%;
  }

  /* line 940, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppermidlastshow {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 959, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .transitionshow {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 979, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .uppertextshow {
    width: 80vw;
    left: 5%;
    top: 40%;
    width: 94vw;
    height: 40vh;
    left: 3%;
    text-align: left;
    font-size: 130%;
  }

  /* line 994, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .lowercontentshow img {
    filter: blur(7px);
    top: 20%;
    left: 3%;
    width: 90%;
    height: 40%;
    position: absolute;
  }

  /* line 1002, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .textlowshow {
    width: 90vw;
    height: 20vh;
    line-height: 140%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    position: absolute;
    left: 3%;
    top: 30%;
  }
}
@media (max-width: 600px) {
  /* line 1017, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .wrapdd {
    height: calc(var(--wrapheight) - var(--wrapval));
    width: 90vw;
    top: 10%;
    background: red;
    overflow: hidden;
  }

  /* line 1025, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown-about {
    position: relative;
    top: 3%;
    width: 80vw;
    text-align: center;
  }

  /* line 1031, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .ddtext {
    width: 70vw;
    max-width: 600px;
    display: inline-block;
  }

  /* line 1037, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown-content {
    position: absolute;
    bottom: 4%;
    left: 0vw;
    width: 50vw;
    text-align: left;
  }

  /* line 1047, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown a {
    padding: 23px 10px;
    text-decoration: none;
    font-family: "HelveticaNeue";
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* line 1057, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown a:hover, .dropDown a:focus {
    color: red;
    background: none;
  }
}
@media screen and (max-height: 450px) {
  /* line 1063, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown {
    overflow-y: auto;
  }

  /* line 1064, /mnt/c/code/philosify/app/assets/stylesheets/figures.scss.erb */
  .dropDown a {
    font-size: 20px;
  }
}
/* line 1, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 10, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 16, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 22, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 25, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 29, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
th {
  padding-bottom: 5px;
}

/* line 39, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
td {
  padding: 0 5px 7px;
}

/* line 44, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 49, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 53, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 59, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 66, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}
/* line 76, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 82, /mnt/c/code/philosify/app/assets/stylesheets/scaffolds.scss */
label {
  display: block;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url("HelveticaNeueMedium.ttf") format("truetype");
}
/* line 11, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
:root {
  --first-color: #FCF7F7;
  --second-color: #DCDADA;
  --vw: 90vw;
  --left:calc(50vw - (86.1/2));
  --wrapval: 5vw;
  --wrapheight: 70vh;
}

/* line 27, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
html {
  background: #red;
  /* fallback color */
  background: linear-gradient(to bottom, #red, #blue);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* line 36, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
body {
  margin: 0;
  /* fallback for old browsers */
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
}

/* line 46, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.logocontent {
  position: fixed;
  top: 3.8%;
  width: 40vw;
  max-width: 330px;
  height: 10vh;
  z-index: 2;
}

/* line 55, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.vmlogo {
  font-family: "HelveticaNeue";
  font-weight: 500px;
  font-size: 3vw;
  color: blue;
  z-index: 2;
}

@media screen and (min-width: 800px) {
  /* line 63, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .vmlogo {
    font-size: 26px;
  }
}
/* line 67, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.menubtn {
  left: 75%;
  top: 1%;
  position: absolute;
  height: 10px;
  width: 30px;
  padding-top: 10px;
  z-index: 2;
  cursor: pointer;
}

/* line 77, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dot {
  height: 1vw;
  max-height: 6px;
  width: 2.2vw;
  background-color: #bbb;
  border-radius: 50%;
}

/* line 84, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dotwrap {
  display: flex;
  height: 4px;
  width: 18px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 117, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dropDown {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

/* line 129, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.wrapdd {
  height: calc(var(--wrapheight) - var(--wrapval));
  width: 100vw;
  top: 10%;
  position: absolute;
  background: red;
  overflow: hidden;
}

/* line 137, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dropDown-about {
  position: absolute;
  top: 12%;
  left: 0%;
  width: 40vw;
  max-height: 241px;
  overflow: hidden;
}

/* line 146, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.ddtext {
  width: 37vw;
  max-width: 570px;
  text-align: left;
  display: inline-block;
  float: left;
  font-family: arial;
  font-weight: 100px;
}

/* line 155, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dropDown-content {
  position: absolute;
  bottom: 51%;
  right: 3%;
  width: 50vw;
  text-align: left;
}

/* line 164, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dropDown a {
  padding: 16px;
  text-decoration: none;
  font-family: "HelveticaNeue";
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* line 174, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.dropDown a:hover, .dropDown a:focus {
  color: red;
  background: none;
}

/* line 185, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#somet {
  z-index: 1;
}

/* line 188, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#info {
  z-index: 1;
}

/* line 195, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.randomButton {
  z-index: 9999999;
}

/* line 199, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.container {
  position: relative;
}

/* line 208, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppertoptext {
  position: absolute;
  font-size: 18px;
  left: 14%;
  top: 44%;
  width: 35vw;
  height: 57vh;
  text-align: left;
  font-family: arial;
  font-weight: 200px;
}

/* line 222, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppertop {
  width: 100vw;
  height: 140vh;
  background-image: linear-gradient(#DCDADA, #866969);
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0%;
}

/* line 231, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperTopPic1 {
  position: absolute;
  left: 55%;
  top: 50%;
  width: 15vw;
  height: 57vh;
  overflow: hidden;
}

/* line 239, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperTopPic1 img {
  width: 15vw;
  height: 57vh;
}

/* line 243, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperTopPic2 {
  position: absolute;
  left: 70%;
  top: 24%;
  width: 11vw;
  height: 40vh;
}

/* line 252, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperTopPic2 img {
  width: 11vw;
  height: 40vh;
}

/* line 257, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperBig {
  top: 240%;
  height: 90vh;
  width: 100vw;
  background-image: linear-gradient(#866969, #864C4C);
  position: absolute;
}

/* line 264, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.upperBigText {
  width: 70vw;
  height: 20vh;
  line-height: 110%;
  font-size: 42px;
  font-weight: 700;
  color: green;
  float: right;
  position: absolute;
  left: 28%;
  top: 41%;
  bottom: 0;
}

/* line 281, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppermid {
  width: 100vw;
  height: 161vh;
  text-align: center;
  background-image: linear-gradient(#864C4C, #7F2525);
  position: absolute;
  top: 330%;
  left: 0%;
}

/* line 295, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.transition {
  width: 100vw;
  height: 100vh;
  background: url(/assets/italy-3fc9d3ef5a46732423d1f431f72cc0ac2531f5b5eb5bae5afc181d51b04bdffd.jpg);
  background-size: 100vw 100vh;
  background-position: 0% 99%;
  background-repeat: no-repeat;
  position: fixed;
  left: 0%;
  bottom: 0%;
  clip: rect(0 100vw 100vh 0);
  transition: all .4s ease-in;
}

/* line 310, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.ucfirst {
  width: 10vw;
  height: 39vh;
  overflow: hidden;
  position: absolute;
  right: 65%;
  top: 20%;
}

/* line 321, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppercontent {
  width: 100vw;
  height: 100vh;
  background: url(/assets/italy-3fc9d3ef5a46732423d1f431f72cc0ac2531f5b5eb5bae5afc181d51b04bdffd.jpg);
  background-size: 100vw 100vh;
  background-position: 0% 99%;
  color: white;
  overflow: hidden;
  -webkit-transition: clip 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: absolute;
  left: 0%;
  clip: rect(49vh 47vw 90vh 20vw);
  top: 0%;
}

/* line 341, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppermidlast {
  width: 100vw;
  height: 150vh;
  margin: auto;
  justify-content: center;
  white-space: nowrap;
  font-size: 50px;
  background-size: 100vw 100vh;
  background-position: 0% 98;
  background-repeat: no-repeat;
  color: white;
  overflow: hidden;
  position: absolute;
  left: 0%;
  clip: rect(0vh 100vw 100vh 0vw);
  top: 0%;
}

/* line 367, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppertext {
  width: 32vw;
  height: 40vh;
  float: right;
  left: 51%;
  top: 32%;
  text-align: left;
  font-size: 130%;
  position: absolute;
}

/* line 378, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.lowermid {
  width: 100vw;
  height: 130vh;
  background-image: linear-gradient(#7F2525, #5B2222);
  text-align: center;
  position: absolute;
  top: 490%;
  left: 0%;
}

/* line 388, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.lowercontent img {
  filter: blur(7px);
  top: 20%;
  left: 23%;
  position: absolute;
  height: 50%;
}

/* line 406, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.textlow {
  width: 70vw;
  height: 20vh;
  line-height: 110%;
  font-size: 42px;
  font-weight: 700;
  color: white;
  text-align: left;
  position: absolute;
  left: 8%;
  top: 50%;
}

/* line 419, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.lowerlink {
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: red;
}

/* line 435, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#romanCanvas {
  top: 50%;
  width: 100vw;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

/* line 446, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#tyrionCanvas {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: -1;
}

/* line 463, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#caesarCanvas {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* line 476, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#guanyinCanvas {
  width: 1000px;
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* line 490, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#slideCanvas {
  position: relative;
  left: 500px;
  -webkit-animation: slideIn 2s forwards;
  -moz-animation: slideIn 2s forwards;
  animation: slideIn 2s forwards;
}

@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 525, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.uppertopshow {
  width: 100vw;
  height: 140vh;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0%;
}

/* line 535, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.outer {
  background-image: linear-gradient(#FCF7F7, #DCDADA);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

/* line 546, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.middle {
  display: table-cell;
  vertical-align: middle;
}

/* line 551, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.inner {
  margin-left: auto;
  margin-right: auto;
  /*whatever width you want*/
}

/* line 558, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.myBtn {
  margin: auto;
}

/* line 576, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
canvas {
  display: block;
  margin: auto;
}

/* line 581, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#info {
  position: absolute;
  top: 0px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  z-index: 1;
  /* TODO Solve this in HTML */
}

/* line 597, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#loading {
  margin: auto;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  width: 400px;
  height: 400px;
  margin-top: 10%;
  background-image: url("https://i.imgur.com/gwQOiTQ.gif");
  background-repeat: no-repeat;
  background-position: center;
}

/* line 619, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
html {
  height: 100%;
}

/* line 628, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.screen {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 47%;
}

/* line 645, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
#myBtn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15% 47%;
}

/* line 660, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loading {
  padding-left: 0px;
  position: absolute;
  top: 110px;
}

/* line 666, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader {
  right: 0;
}
/* line 674, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: #fff;
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}
/* line 687, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  animation: barUp1 4s infinite;
}
/* line 687, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  animation: barUp2 4s infinite;
}
/* line 687, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  animation: barUp3 4s infinite;
}
/* line 687, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  animation: barUp4 4s infinite;
}
/* line 687, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  animation: barUp5 4s infinite;
}
/* line 697, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.loader__ball {
  position: absolute;
  bottom: 10px;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 50%;
  animation: ball 4s infinite;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  5% {
    transform: translate(8px, -14px);
  }
  10% {
    transform: translate(15px, -10px);
  }
  17% {
    transform: translate(23px, -24px);
  }
  20% {
    transform: translate(30px, -20px);
  }
  27% {
    transform: translate(38px, -34px);
  }
  30% {
    transform: translate(45px, -30px);
  }
  37% {
    transform: translate(53px, -44px);
  }
  40% {
    transform: translate(60px, -40px);
  }
  50% {
    transform: translate(60px, 0);
  }
  57% {
    transform: translate(53px, -14px);
  }
  60% {
    transform: translate(45px, -10px);
  }
  67% {
    transform: translate(37px, -24px);
  }
  70% {
    transform: translate(30px, -20px);
  }
  77% {
    transform: translate(22px, -34px);
  }
  80% {
    transform: translate(15px, -30px);
  }
  87% {
    transform: translate(7px, -44px);
  }
  90% {
    transform: translate(0, -40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }
  40% {
    transform: scale(1, 0.2);
  }
  50% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 0.2);
  }
}
@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }
  40% {
    transform: scale(1, 0.4);
  }
  50% {
    transform: scale(1, 0.8);
  }
  90% {
    transform: scale(1, 0.8);
  }
  100% {
    transform: scale(1, 0.4);
  }
}
@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }
  100% {
    transform: scale(1, 0.6);
  }
}
@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }
  40% {
    transform: scale(1, 0.8);
  }
  50% {
    transform: scale(1, 0.4);
  }
  90% {
    transform: scale(1, 0.4);
  }
  100% {
    transform: scale(1, 0.8);
  }
}
@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.2);
  }
  90% {
    transform: scale(1, 0.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/* line 849, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
button {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline: 0;
}

/* line 856, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
svg {
  padding: 5px;
}

/* line 860, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -45px;
  margin-left: -35px;
  width: 70px;
  height: 90px;
}

/* line 870, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.left {
  left: 25%;
}

/* line 874, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.right {
  left: 75%;
}

/* line 878, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.left:hover polyline {
  stroke-width: 3;
}

/* line 882, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.left:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

/* line 887, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.right:hover polyline,
.right:focus polyline {
  stroke-width: 3;
}

/* line 892, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
.right:active polyline {
  stroke-width: 6;
  transition: all 100ms ease-in-out;
}

/* line 897, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
polyline {
  transition: all 250ms ease-in-out;
}

@media screen and (min-width: 1220px) and (max-width: 1500px) {
  /* line 901, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 {
    position: absolute;
    left: 55%;
    top: 50%;
    width: 15vw;
    height: 33vh;
    overflow: hidden;
  }

  /* line 909, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 img {
    width: 15vw;
    height: 33vh;
  }

  /* line 913, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 {
    position: absolute;
    left: 70%;
    top: 30%;
    width: 11vw;
    height: 30vh;
  }

  /* line 922, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 img {
    width: 11vw;
    height: 30vh;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1220px) {
  /* line 928, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 {
    position: absolute;
    left: 55%;
    top: 50%;
    width: 15vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 936, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 img {
    width: 15vw;
    height: 29vh;
  }

  /* line 940, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 {
    position: absolute;
    left: 70%;
    top: 40%;
    width: 11vw;
    height: 22vh;
  }

  /* line 949, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 img {
    width: 11vw;
    height: 22vh;
  }
}
@media (max-width: 1026px) {
  /* line 957, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .wrapdd {
    height: calc(var(--wrapheight) - var(--wrapval));
    width: 90vw;
    top: 10%;
    background: red;
    overflow: hidden;
  }

  /* line 965, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown-about {
    position: relative;
    top: 3%;
    width: 50vw;
    text-align: center;
  }

  /* line 971, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .ddtext {
    width: 44vw;
    max-width: 600px;
    display: inline-block;
  }

  /* line 977, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown-content {
    position: absolute;
    bottom: 4%;
    left: 0vw;
    width: 50vw;
    text-align: left;
  }

  /* line 987, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown a {
    padding: 25px 16px;
    text-decoration: none;
    font-family: "HelveticaNeue";
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* line 997, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown a:hover, .dropDown a:focus {
    color: red;
    background: none;
  }
}
@media screen and (min-width: 200px) and (max-width: 900px) {
  /* line 1005, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertop {
    height: 140vh;
  }

  /* line 1009, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertoptext {
    width: 80vw;
    left: 5%;
    top: 40%;
  }

  /* line 1014, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 {
    position: absolute;
    left: 5%;
    top: 60%;
    width: 40vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 1022, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 img {
    width: 40vw;
    height: 29vh;
  }

  /* line 1026, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 {
    position: absolute;
    left: 53%;
    top: 60%;
    width: 40vw;
    height: 29vh;
  }

  /* line 1035, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 img {
    width: 40vw;
    height: 29vh;
  }

  /* line 1042, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperBigText {
    width: 93vw;
    height: 20vh;
    line-height: 140%;
    font-size: 35px;
    font-weight: 700;
    color: green;
    float: right;
    position: absolute;
    left: 3%;
    top: 41%;
    bottom: 0;
  }

  /* line 1058, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppercontent {
    height: 50vh;
    clip: rect(0vh 96vw 100vh 3vw);
    background-size: 100vw 55vh;
    background-position: 0% 99%;
  }

  /* line 1065, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppermidlast {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 1084, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .transition {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 1104, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertext {
    width: 80vw;
    left: 5%;
    top: 40%;
    width: 94vw;
    height: 40vh;
    left: 3%;
    text-align: left;
    font-size: 130%;
  }

  /* line 1119, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .lowercontent img {
    filter: blur(7px);
    top: 20%;
    left: 3%;
    width: 90%;
    height: 40%;
    position: absolute;
  }

  /* line 1127, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .textlow {
    width: 90vw;
    height: 20vh;
    line-height: 140%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    text-align: left;
    position: absolute;
    left: 3%;
    top: 30%;
  }
}
@media screen and (min-width: 562px) and (max-width: 730px) {
  /* line 1142, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertoptext {
    width: 80vw;
    left: 5%;
    top: 40%;
    font-size: 14px;
  }
}
@media screen and (min-width: 200px) and (max-width: 562px) {
  /* line 1153, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertop {
    height: 140vh;
  }

  /* line 1157, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertoptext {
    width: 80vw;
    left: 5%;
    top: 40%;
    font-size: 14px;
  }

  /* line 1163, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 {
    position: absolute;
    left: 5%;
    top: 80%;
    width: 40vw;
    height: 29vh;
    overflow: hidden;
  }

  /* line 1171, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic1 img {
    width: 40vw;
    height: 29vh;
  }

  /* line 1175, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 {
    position: absolute;
    left: 53%;
    top: 80%;
    width: 40vw;
    height: 29vh;
  }

  /* line 1184, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperTopPic2 img {
    width: 40vw;
    height: 29vh;
  }

  /* line 1191, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .upperBigText {
    width: 93vw;
    height: 20vh;
    line-height: 140%;
    font-size: 25px;
    font-weight: 700;
    color: green;
    float: right;
    position: absolute;
    left: 3%;
    top: 41%;
    bottom: 0;
  }

  /* line 1207, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppercontent {
    height: 50vh;
    clip: rect(0vh 96vw 100vh 3vw);
    background-size: 100vw 55vh;
    background-position: 0% 99%;
  }

  /* line 1214, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppermidlast {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 1233, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .transition {
    width: 100vw;
    height: 50vh;
    background-size: 100vw 55vh;
    background-position: 0% 99%;
    color: white;
    overflow: hidden;
    -webkit-transition: clip 0.5s ease-out;
    transition: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: absolute;
    left: 0%;
    clip: rect(0vh 96vw 100vh 3vw);
    top: 0%;
  }

  /* line 1253, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .uppertext {
    width: 80vw;
    left: 5%;
    top: 40%;
    width: 94vw;
    height: 40vh;
    left: 3%;
    text-align: left;
    font-size: 130%;
  }

  /* line 1268, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .lowercontent img {
    filter: blur(7px);
    top: 20%;
    left: 3%;
    width: 90%;
    height: 40%;
    position: absolute;
  }

  /* line 1276, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .textlow {
    width: 90vw;
    height: 20vh;
    line-height: 140%;
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-align: left;
    position: absolute;
    left: 3%;
    top: 30%;
  }
}
@media (max-width: 600px) {
  /* line 1291, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .wrapdd {
    height: calc(var(--wrapheight) - var(--wrapval));
    width: 90vw;
    top: 10%;
    background: red;
    overflow: hidden;
  }

  /* line 1299, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown-about {
    position: relative;
    top: 3%;
    width: 80vw;
    text-align: center;
  }

  /* line 1305, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .ddtext {
    width: 70vw;
    max-width: 600px;
    display: inline-block;
  }

  /* line 1311, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown-content {
    position: absolute;
    bottom: 4%;
    left: 0vw;
    width: 50vw;
    text-align: left;
  }

  /* line 1321, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown a {
    padding: 23px 10px;
    text-decoration: none;
    font-family: "HelveticaNeue";
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  /* line 1331, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown a:hover, .dropDown a:focus {
    color: red;
    background: none;
  }
}
@media screen and (max-height: 450px) {
  /* line 1337, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown {
    overflow-y: auto;
  }

  /* line 1338, /mnt/c/code/philosify/app/assets/stylesheets/static_pages.scss.erb */
  .dropDown a {
    font-size: 20px;
  }
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

