<style type="text/css">
.transitionshow {
  background: url(<%= image_path("#{@figure.images[2].name}" + ".jpg") %>);
  background-size: 100vw 100vh;
  background-position: 	0% 99%;
  background-repeat: no-repeat;
}
.uppercontentshow {
  background: url(<%= image_path("#{@figure.images[2].name}" + ".jpg") %>);
  background-size: 100vw 100vh;
  background-position: 	0% 99%;
  width: 100vw;
  height: 150vh;




  color: white;
  overflow:hidden;
  transition:  position 1s, height 0.4s, width 0.6s;
  -webkit-transition: clip 0.5s ease-out;
  transition: all 0.5s ease-out;

  position: absolute;
  left: 0%;
  clip:rect(73vh 47vw 114vh 20vw);

  bottom: 0%;

}
/* url(/assets/italy-3fc9d3e….jpg); */
.uppermidlastshow {
  background: url(<%= image_path("#{@figure.images[2].name}" + ".jpg") %>);
  background-size: 100vw 100vh;
  background-position: 	0% 98;
  background-repeat: no-repeat;
}


</style>

<div class="outerShow">
  <div class="middleShow">
    <div class="innerShow">
       this is inner
    </div>
  </div>
</div>

<div class="contain">
  <canvas id="romanCanvas"></canvas>
  <canvas id="guanyinCanvas"></canvas>
  <canvas id="caesarCanvas"></canvas>
  <canvas id="tyrionCanvas"></canvas>
</div>




  <button class="arrow left oneL">
  <svg width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
    <polyline fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
	45.63,75.8 0.375,38.087 45.63,0.375 "></polyline>
  </svg>
</button>
<button class="arrow right oneR">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="60px" height="80px" viewBox="0 0 50 80" xml:space="preserve">
    <polyline fill="none" stroke="black" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" points="
	0.375,0.375 45.63,38.087 0.375,75.8 "></polyline>
  </svg>
</button>


<div class="main">

<div class="uppertopshow">
  PICTURED ABOVE: A Roman man, thought have been member of the Licinian family from the 2nd century
A.D. have been member of the Licinian family from the 2nd century A.D.
<div class="uppertoptextshow">
<%= @figure.images.first.content%>
</div>
<div class="upperTopPic1show">
<img src="<%= image_url("#{@figure.images[0].name}" + ".jpg")%>">
</div>
<div class="upperTopPic2show">
  <img src="<%= image_url("#{@figure.images[1].name}" + ".jpg")%>">
</div>
</div>



<div class="upperBigShow">
  <span class="upperBigTextshow">
  "<%= @figure.content1 %>" - <%= @figure.fullname %>
    </span>

</div>



<div class="uppermidshow">


  <div class="uppertextshow">
<%= @figure.content2 %>

  </div>
  <div class="ucsfirst">
 </div>
  <div class="uppercontentshow">
 </div>
</div>


<div class="lowermidshow">
  <div class="lowercontentshow">
    <img src="<%= image_url("#{@figure.images[3].name}" )%>">
    </div>
    <span class="textlowshow">
       <%= @figure.content3 %>
      </span>

 <div class="lowerlink">
 <a href="#" class="nextbtn">next<i class="fas fa-angle-double-right"></i></a>
 </div>
</div>


   <script>
     window.onload = function(){

        i = 0;






        // $('#info').on('click', '[data-type="page-transition"]', function(event){
        //    event.preventDefault();
        //    console.log("its clicked");
        //    //detect which page has been selected
        //    var newPage = $(this).attr('href');
        //
        //    //if the page is not animating - trigger animation
        //    if( !isAnimating ) changePage(newPage, true);
        // });
        //
        // document.getElementsByClassName("arrow left")[0].addEventListener("click", mainLoop2, false);
        //    document.getElementsByClassName("arrow right")[0].addEventListener("click", transitional, false);
        //       document.getElementsByClassName("arrow right")[0].addEventListener("click", mainLoop, false);
        //
        // console.log(document.innerWidth);

       //  function sliderAni() {
       //
       //
       //   var id = requestAnimationFrame(frame, 10);
       //   function frame() {
       //
       //   }
       // }



       // function sweep(timestamp) {
       //   console.log(timestamp + "is the stap");
       //   var start = null;
       //   var element = document.getElementById('myCanvas');
       //   element.style.position = 'absolute';
       //
       //   if (!start) start = timestamp;
       //   var progress = timestamp - start;
       //   element.style.left = Math.min(progress / 5, 200) + 'px';
       //
       //   if (progress < 1000) {
       //    requestAnimationFrame(sweep);
       //  }
       // }
       //   requestAnimationFrame(sweep);


       function mainLoop(time){  // time in ms accurate to 1 micro second 1/1,000,000th second

         var pos = mesh2.position.x;
     //
     //
         if (pos <= 0) {
         styleAfter();
         return false;

         } else {
           pos -= 1;
           mesh2.position.x = pos;
           // mesh.position.x = pos - 20;
           mesh3.position.x = pos - 40;



         }
        requestAnimationFrame(mainLoop);

     }
     requestAnimationFrame(mainLoop(15000));


        function transitional() {

            $.ajax({url: "help", success: function(result){
              $("#newcanvas").html(result);


            }});
        }
        function styleAfter() {
          var st = document.getElementById("somet");
          var x = document.getElementById("newcanvas");
          x.style.display = "block";
          st.style.display = "none";
        }
     //




     //   var elem = mesh2,
     //     left = 0,
     //     lastFrame = +new Date,
     //     timer;
     //   function animLoop( render, element ) {
     //     var left = 30;
     //     var running, lastFrame = +new Date;
     //     function loop( now ) {
     //         // stop the loop if render returned false
     //         if ( running !== false ) {
     //             requestAnimationFrame( loop, element );
     //             running = render( now - lastFrame );
     //             lastFrame = now;
     //         }
     //     }
     //     loop( lastFrame );
     // }
     //
     // animLoop(function( deltaT ) {
     //     elem.style.left = ( left += 10 * deltaT / 16 ) + "px";
     //     if ( left <= 0 ) {
     //       return false;
     //     }
     //
     // }, animWrapper );
      //   function sliderAni() {
      //        var num = mesh2.position.x - smallWindow
      //        console.log(smallWindow)
      //       for(i=0; i > (-50); i -= .001) {  // just console.log(mesh2.position.x) like below and set i > (-10) to the necessary number
      //
      //       (function(i) {
      //        setTimeout(function() {
      //         mesh.position.x = i;
      //          mesh2.position.x = i + 50;
      //          mesh3.position.x = (i - 10) ;
      //         console.log(mesh2.position.x)
      //      }, (50) * i); // <-- You need to multiply by i here.
      //       })(i);
      //
      //   }
      // }

      function mainLoop2(time){  // time in ms accurate to 1 micro second 1/1,000,000th second
        var pos2 = mesh3.position.x;
        // console.log(pos2 + " is pos")
        // console.log(mesh.position.x + " first")
        // console.log(mesh2.position.x + " 2nd")
        if (pos2 >= 0) {
          return false;
        } else {
          pos2 ++;
         mesh3.position.x = pos2;
         mesh.position.x = pos2 + 20;
         mesh2.position.x = pos2 + 40;
        }
       requestAnimationFrame(mainLoop2);

     }
     requestAnimationFrame(mainLoop2(15000));
  }
   </script>
<%= link_to 'Edit', edit_figure_path(@figure) %> |
<%= link_to 'Back', figures_path %>
