<!DOCTYPE html>
<html>
  <head>
    <title>Philosify</title>
    <%= csrf_meta_tags %>
     <%= tag :meta, name: "viewport", content: "width=device-width" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
     <%= tag :meta, name: :psj, action: action_name, controller: controller_name %>

  </head>

  <body>

    <div id="homeNav" class="dropDown">
      <div class="wrapdd">
      <div class="dropDown-about">
        <div class="ddtext">
        Welcome the virtual museum. Here you can take a look at some of the vestiges that helped shape our
      world history.  Scroll below for more information about each artifact.
       </div>
      </div>
      </div>
      <div class="dropDown-content">
        <a href="home">OVERVIEW</a>
        <a href="http://localhost:3000/figures/4">RAMSES II</a>
        <a href="http://localhost:3000/figures/3">AVALOKITESVARA</a>
        <a href="http://localhost:3000/figures/1">TYRION</a>

      </div>
      </div>
      <div class="logocontent">

      <div class="vmlogo">
        VIRTUAL_MUSEUM
      </div>



    <div class="menubtn">
    <div id="sptop" class= "dotwrap">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    </div>
        </div>
    <%= yield %>
  </body>
</html>
